## NFL Prediction Model
---
* The goal of our model is to predict the outcomes of the 2019 playoffs and Super Bowl.
* We intend to later use it for a parlay gambling strategy.

### Data
---
* We used pd.read_html to scrape data from foorballdb.com. 
---
#### Feature Exploration:
* Week Number, Home Team, Away Team, Home Score, Away Score, Outcome(W/L)

In [20]:
# Import Libraries
import requests
import time
import urllib.request
import pandas as pd
import tpot
import tensorflow as tf
from tensorflow import keras
from keras.layers import Dense
import adanet as ad
import matplotlib.pyplot as plt

In [3]:
# Import 2012-2019 seasons, weeks, and team stats
season_2019 = pd.read_html('https://www.footballdb.com/games/index.html?lg=NFL&yr=2019')
season_2018 = pd.read_html('https://www.footballdb.com/games/index.html?lg=NFL&yr=2018')
season_2017 = pd.read_html('https://www.footballdb.com/games/index.html?lg=NFL&yr=2017')
season_2016 = pd.read_html('https://www.footballdb.com/games/index.html?lg=NFL&yr=2016')
season_2015 = pd.read_html('https://www.footballdb.com/games/index.html?lg=NFL&yr=2015')
season_2014 = pd.read_html('https://www.footballdb.com/games/index.html?lg=NFL&yr=2014')
season_2013 = pd.read_html('https://www.footballdb.com/games/index.html?lg=NFL&yr=2013')
season_2012 = pd.read_html('https://www.footballdb.com/games/index.html?lg=NFL&yr=2012')

team_d_2019 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2019&type=reg&cat=T&group=D&conf=')
team_d_2018 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2018&type=reg&cat=T&group=D&conf=')
team_d_2017 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2017&type=reg&cat=T&group=D&conf=')
team_d_2016 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2016&type=reg&cat=T&group=D&conf=')
team_d_2015 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2015&type=reg&cat=T&group=D&conf=')
team_d_2014 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2014&type=reg&cat=T&group=D&conf=')
team_d_2013 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2013&type=reg&cat=T&group=D&conf=')
team_d_2012 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2012&type=reg&cat=T&group=D&conf=')

team_o_2019 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2019&type=reg&cat=T&group=O&conf=')
team_o_2018 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2018&type=reg&cat=T&group=O&conf=')
team_o_2017 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2017&type=reg&cat=T&group=O&conf=')
team_o_2016 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2016&type=reg&cat=T&group=O&conf=')
team_o_2015 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2015&type=reg&cat=T&group=O&conf=')
team_o_2014 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2014&type=reg&cat=T&group=O&conf=')
team_o_2013 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2013&type=reg&cat=T&group=O&conf=')
team_o_2012 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2012&type=reg&cat=T&group=O&conf=')

o_passing_2019 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2019&type=reg&cat=P&group=O&conf=')
o_passing_2018 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2018&type=reg&cat=P&group=O&conf=')
o_passing_2017 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2017&type=reg&cat=P&group=O&conf=')
o_passing_2016 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2016&type=reg&cat=P&group=O&conf=')
o_passing_2015 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2015&type=reg&cat=P&group=O&conf=')
o_passing_2014 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2014&type=reg&cat=P&group=O&conf=')
o_passing_2013 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2013&type=reg&cat=P&group=O&conf=')
o_passing_2012 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2012&type=reg&cat=P&group=O&conf=')

o_rushing_2019 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2019&type=reg&cat=R&group=O&conf=')
o_rushing_2018 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2018&type=reg&cat=R&group=O&conf=')
o_rushing_2017 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2017&type=reg&cat=R&group=O&conf=')
o_rushing_2016 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2016&type=reg&cat=R&group=O&conf=')
o_rushing_2015 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2015&type=reg&cat=R&group=O&conf=')
o_rushing_2014 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2014&type=reg&cat=R&group=O&conf=')
o_rushing_2013 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2013&type=reg&cat=R&group=O&conf=')
o_rushing_2012 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2012&type=reg&cat=R&group=O&conf=')

d_passing_2019 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2019&type=reg&cat=P&group=D&conf=')
d_passing_2018 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2018&type=reg&cat=P&group=D&conf=')
d_passing_2017 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2017&type=reg&cat=P&group=D&conf=')
d_passing_2016 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2016&type=reg&cat=P&group=D&conf=')
d_passing_2015 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2015&type=reg&cat=P&group=D&conf=')
d_passing_2014 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2014&type=reg&cat=P&group=D&conf=')
d_passing_2013 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2013&type=reg&cat=P&group=D&conf=')
d_passing_2012 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2012&type=reg&cat=P&group=D&conf=')

d_rushing_2019 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2019&type=reg&cat=R&group=D&conf=')
d_rushing_2018 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2018&type=reg&cat=R&group=D&conf=')
d_rushing_2017 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2017&type=reg&cat=R&group=D&conf=')
d_rushing_2016 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2016&type=reg&cat=R&group=D&conf=')
d_rushing_2015 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2015&type=reg&cat=R&group=D&conf=')
d_rushing_2014 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2014&type=reg&cat=R&group=D&conf=')
d_rushing_2013 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2013&type=reg&cat=R&group=D&conf=')
d_rushing_2012 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2012&type=reg&cat=R&group=D&conf=')




o_downs_2019 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2019&type=reg&cat=W&group=O&conf=')
o_downs_2018 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2018&type=reg&cat=W&group=O&conf=')
o_downs_2017 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2017&type=reg&cat=W&group=O&conf=')
o_downs_2016 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2016&type=reg&cat=W&group=O&conf=')
o_downs_2015 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2015&type=reg&cat=W&group=O&conf=')
o_downs_2014 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2014&type=reg&cat=W&group=O&conf=')
o_downs_2013 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2013&type=reg&cat=W&group=O&conf=')
o_downs_2012 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2012&type=reg&cat=W&group=O&conf=')




d_downs_2019 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2019&type=reg&cat=W&group=D&conf=')
d_downs_2018 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2018&type=reg&cat=W&group=D&conf=')
d_downs_2017 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2017&type=reg&cat=W&group=D&conf=')
d_downs_2016 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2016&type=reg&cat=W&group=D&conf=')
d_downs_2015 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2015&type=reg&cat=W&group=D&conf=')
d_downs_2014 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2014&type=reg&cat=W&group=D&conf=')
d_downs_2013 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2013&type=reg&cat=W&group=D&conf=')
d_downs_2012 = pd.read_html('https://www.footballdb.com/stats/teamstat.html?lg=NFL&yr=2012&type=reg&cat=W&group=D&conf=')

In [4]:
team_defense = [team_d_2012, team_d_2013, team_d_2014, team_d_2015, team_d_2016, team_d_2017, team_d_2018, team_d_2019]
year = ['2012', '2013', '2014', '2015', '2016', '2017', '2018','2019']
fin_def = []
for yr, df in zip(year, team_defense):
    for idx, weeks in enumerate(df):
        def_temp = weeks.drop(columns=['Gms'])
        def_temp['year'] = yr
        fin_def.append(def_temp)
        
final_defense = fin_def[0]
for i in range(1,len(fin_def)):
    final_defense = final_defense.append(fin_def[i], ignore_index=True)

In [5]:
final_defense.to_csv('overall_defense.csv')

In [6]:
team_offense = [team_o_2012, team_o_2013, team_o_2014, team_o_2015, team_o_2016, team_o_2017, team_o_2018, team_o_2019]
year = ['2012', '2013', '2014', '2015', '2016', '2017', '2018','2019']
fin_off = []
for yr, df in zip(year, team_offense):
    for idx, weeks in enumerate(df):
        off_temp = weeks.drop(columns=['Gms'])
        off_temp['year'] = yr
        fin_off.append(off_temp)
        
final_offense = fin_off[0]
for i in range(1,len(fin_off)):
    final_offense = final_offense.append(fin_off[i], ignore_index=True)
    
final_offense.to_csv('overall_offense.csv')

In [7]:
o_pass = [o_passing_2012, o_passing_2013, o_passing_2014, o_passing_2015, o_passing_2016, o_passing_2017, o_passing_2018, o_passing_2019]
year = ['2012', '2013', '2014', '2015', '2016', '2017', '2018','2019']
fin_op = []
for yr, df in zip(year, o_pass):
    for idx, weeks in enumerate(df):
        op_temp = weeks.drop(columns=['Gms'])
        op_temp['year'] = yr
        fin_op.append(op_temp)
        
final_op = fin_op[0]
for i in range(1,len(fin_op)):
    final_op = final_op.append(fin_op[i], ignore_index=True)
    
final_op.to_csv('off_pass.csv')

In [8]:
o_rush = [o_rushing_2012, o_rushing_2013, o_rushing_2014, o_rushing_2015, o_rushing_2016, o_rushing_2017, o_rushing_2018, o_rushing_2019]
year = ['2012', '2013', '2014', '2015', '2016', '2017', '2018','2019']
fin_or = []
for yr, df in zip(year, o_rush):
    for idx, weeks in enumerate(df):
        or_temp = weeks.drop(columns=['Gms'])
        or_temp['year'] = yr
        fin_or.append(or_temp)
        
final_or = fin_or[0]
for i in range(1,len(fin_or)):
    final_or = final_or.append(fin_or[i], ignore_index=True)
    
final_or.to_csv('off_rush.csv')

In [9]:
d_pass = [d_passing_2012, d_passing_2013, d_passing_2014, d_passing_2015, d_passing_2016, d_passing_2017, d_passing_2018, d_passing_2019]
year = ['2012', '2013', '2014', '2015', '2016', '2017', '2018','2019']
fin_dp = []
for yr, df in zip(year, d_pass):
    for idx, weeks in enumerate(df):
        dp_temp = weeks.drop(columns=['Gms'])
        dp_temp['year'] = yr
        fin_dp.append(dp_temp)
        
final_dp = fin_dp[0]
for i in range(1,len(fin_dp)):
    final_dp = final_dp.append(fin_dp[i], ignore_index=True)
    
final_dp.to_csv('def_pass.csv')

In [10]:
d_rush = [d_rushing_2012, d_rushing_2013, d_rushing_2014, d_rushing_2015, d_rushing_2016, d_rushing_2017, d_rushing_2018, d_rushing_2019]
year = ['2012', '2013', '2014', '2015', '2016', '2017', '2018','2019']
fin_dr = []
for yr, df in zip(year, d_rush):
    for idx, weeks in enumerate(df):
        dr_temp = weeks.drop(columns=['Gms'])
        dr_temp['year'] = yr
        fin_dr.append(dr_temp)
        
final_dr = fin_dr[0]
for i in range(1,len(fin_dr)):
    final_dr = final_dr.append(fin_dr[i], ignore_index=True)
    
final_dr.to_csv('def_rush.csv')

In [16]:
o_down = [o_downs_2012, o_downs_2013, o_downs_2014, o_downs_2015, o_downs_2016, o_downs_2017, o_downs_2018, o_downs_2019]
year = ['2012', '2013', '2014', '2015', '2016', '2017', '2018','2019']
fin_od = []
for yr, df in zip(year, o_down):
    for idx, weeks in enumerate(df):
        od_temp = weeks
        od_temp['year'] = yr
        fin_od.append(od_temp)
        
final_od = fin_od[0]
for i in range(1,len(fin_od)):
    final_od = final_od.append(fin_od[i], ignore_index=True)
    
final_od.to_csv('off_downs.csv')

In [18]:
d_down = [d_downs_2012, d_downs_2013, d_downs_2014, d_downs_2015, d_downs_2016, d_downs_2017, d_downs_2018, d_downs_2019]
year = ['2012', '2013', '2014', '2015', '2016', '2017', '2018','2019']
fin_dd = []
for yr, df in zip(year, d_down):
    for idx, weeks in enumerate(df):
        dd_temp = weeks
        dd_temp['year'] = yr
        fin_dd.append(dd_temp)
        
final_dd = fin_dd[0]
for i in range(1,len(fin_dd)):
    final_dd = final_dd.append(fin_dd[i], ignore_index=True)
    
final_dd.to_csv('def_downs.csv')

In [4]:
#Iterate through each week in each season, drop columns, rename columns and append to new df
list_years =[season_2012, season_2013, season_2014, season_2015, season_2016, season_2017, season_2018, season_2019]
year = ['2012', '2013', '2014', '2015', '2016', '2017', '2018','2019']
cleaned_df = []
for yr, df in zip(year, list_years):
    for idx, weeks in enumerate(df):
        df_temp = weeks.drop(columns=['Box', 'Date']).rename(columns={'Unnamed: 2': 'Visitor_Score', 'Unnamed: 4':'Home_Score', 'Unnamed: 5':'OT'})
        df_temp['wk_year'] = 'week_'+str(idx+1)
        df_temp['year'] = yr
        cleaned_df.append(df_temp)

In [5]:
# Add Outcome column. Home team win or tie results in Won, Home team loss results in Lost.
final_df = cleaned_df[0]
for i in range(1,len(cleaned_df)):
    final_df = final_df.append(cleaned_df[i], ignore_index=True)
    
    
final_df['Outcome'] = final_df.apply(lambda row: 'Lost' if row.Visitor_Score > row.Home_Score else ('Tie' if  row.Visitor_Score == row.Home_Score else 'Won'), axis=1)
final_df['Outcome'] = final_df.apply(lambda row: 'Lost' if row.Visitor_Score > row.Home_Score else 'Won', axis=1)

In [6]:
# Checking that it worked correctly.
final_df.head()

,Visitor,Visitor_Score,Home,Home_Score,OT,wk_year,year,Outcome
0,Dallas CowboysDAL,24,New York GiantsNYG,17,NaN,week_1,2012,Lost
1,Washington RedskinsWAS,40,New Orleans SaintsNO,32,NaN,week_1,2012,Lost
2,St. Louis RamsSTL,23,Detroit LionsDET,27,NaN,week_1,2012,Won
3,New England PatriotsNE,34,Tennessee TitansTEN,13,NaN,week_1,2012,Lost
4,Miami DolphinsMIA,10,Houston TexansHOU,30,NaN,week_1,2012,Won

In [7]:
# There were only 8 overtimes and they don't have much weight when coming to prediction, so we dropped the overtime column
final_df.drop(columns=['OT'], inplace=True)

In [8]:
# Saving entire dataset to csv
final_df.to_csv('myentiredata.csv')

In [9]:
# Changed year column value from integer to category
final_df['year'] = final_df['year'].astype('category')
#test['year'] = test['year'].astype('category')

# Normalize dataset for machine learning models
final_df = pd.get_dummies(final_df.iloc[:,:-1])
#test_df = pd.get_dummies(x_test.iloc[:,:-1])

In [10]:
# Sace training dataset to csv
final_df.iloc[:2125].to_csv('train.csv')

In [11]:
# Save testing dataset to csv
final_df.iloc[2125:].to_csv('test.csv')

In [12]:
# Display training dataset
final_df.iloc[2125:]

,Visitor_Score,Home_Score,Visitor_Arizona CardinalsARI,Visitor_Atlanta FalconsATL,Visitor_Baltimore RavensBAL,Visitor_Buffalo BillsBUF,Visitor_Carolina PanthersCAR,Visitor_Chicago BearsCHI,Visitor_Cincinnati BengalsCIN,Visitor_Cleveland BrownsCLE,...,wk_year_week_8,wk_year_week_9,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019
2125,19,22,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2126,20,13,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2127,26,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2128,17,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2129,10,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2130,28,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2131,31,51,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2132,23,28,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2133,24,35,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2134,20,37,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2135,20,31,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [30]:
# Read training and testing datasets
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [31]:
# Drop unnecessary columns
test.drop(columns=['Unnamed: 0'], inplace=True)
train.drop(columns=['Unnamed: 0'], inplace=True)

In [32]:
test.to_csv('test.csv')
train.to_csv('train.csv')

In [35]:
y_train = train[['Visitor_Score', 'Home_Score']]
x_train = train.drop(['Visitor_Score', 'Home_Score'], axis=1)
y_test = test[['Visitor_Score', 'Home_Score']]
x_test = test.drop(['Visitor_Score', 'Home_Score'], axis=1)

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor

In [37]:
lr = LinearRegression()
rf = RandomForestRegressor(n_estimators=500, max_depth=7)
ab = AdaBoostRegressor()
gr = GradientBoostingRegressor()

In [39]:
lr.fit(x_train.values, y_train.values)
rf.fit(x_train.values, y_train.values)
#ab.fit(x_train.values, y_train.values)
#gr.fit(x_train.values, y_train.values)

RandomForestRegressor(max_depth=7, n_estimators=500)

In [43]:
predicted_train = lr.predict(x_train.values)
predicted_test = lr.predict(x_test.values)

predicted_train_rf = rf.predict(x_train.values)
predicted_test_rf = rf.predict(x_test.values)

#predicted_train_ab = ab.predict(x_train.values)
#predicted_test_ab = ab.predict(x_test.values)

#predicted_train_gr = gr.predict(x_train.values)
#predicted_test_gr = gr.predict(x_test.values)

In [28]:
predicted.shape

NameError: name 'predicted' is not defined

In [46]:
y_train.values.shape

(2125, 2)

In [47]:
y_train[:10]

   Visitor_Score  Home_Score
0             24          17
1             40          32
2             23          27
3             34          13
4             10          30
5             28          48
6             40          24
7             23          26
8             17          16
9             21          41

In [48]:
predicted[:10]

NameError: name 'predicted' is not defined

In [49]:
from sklearn.metrics import r2_score

In [50]:
train_score = r2_score(y_train.values, predicted_train)
test_score = r2_score(y_test.values, predicted_test)

train_score_rf = r2_score(y_train.values, predicted_train_rf)
test_score_rf = r2_score(y_test.values, predicted_test_rf)

In [51]:
predicted - y_train.values

NameError: name 'predicted' is not defined

In [52]:
print(train_score_rf)

0.11901139290821988

In [53]:
print(test_score_rf)

-0.06511532019129385

In [54]:
pd.concat([pd.DataFrame(predicted_test_rf, columns=['VS_Pred', 'HS_Pred']),pd.DataFrame(y_test)], axis=1)

      VS_Pred    HS_Pred  Visitor_Score  Home_Score
0   21.536627  23.432901             19          22
1   17.244046  29.881882             20          13
2   22.835335  27.839010             26          20
3   22.169413  20.279944             17           9
4   21.660658  23.638110             10          27
5   21.014299  23.891231             28          12
6   21.597766  23.589457             31          51
7   21.610563  23.147530             23          28
8   21.223556  24.745798             24          35
9   21.610165  25.031142             20          37
10  21.634256  23.526076             20          31

In [24]:
entire = pd.read_csv("myentiredata.csv")

In [25]:
y = entire['Visitor_Score' and 'Home_Score']
X = entire.drop(['Visitor_Score' , 'Home_Score'], axis=1)

In [26]:
from sklearn.svm import SVC
classifier = SVC(kernel='linear')
classifier

SVC(kernel='linear')

In [27]:
# Use the train_test_split function to create training and testing subsets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [22]:
classifier.fit(x_train, y_train)

NameError: name 'x_train' is not defined